div[style*='pointerEvents: auto;']:hover a {
  display: block;
}

@media screen and (max-width: 768px) {
 
  .container {
    flex-direction: column;
  }
  
  .leftColumnStyle {
    flex: 100%; /* Take full width on smaller screens */
    
  }
  .rightColumnStyle {
    flex: 100%; /* Take full width on smaller screens */
    
  }
 
  .cardStyle {
    width: 100%; /* Take full width of the container */
    
  }
}
.discount-text {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 24px;
  color: #fff;
  padding: 20px;
  background-color: #3498db;
  border-radius: 8px;
  display: inline-block;
  animation: pulseAnimation 2s infinite;
}

.discount-percentage {
  font-weight: bold;
  color: #e74c3c;
}

@keyframes pulseAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.buyNowButton {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #219EBC;
  padding: 4px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  font-family: 'Montserrat';
  color: #fff;
}

.cardStyle:hover .buyNowButton {
  display: block;
}

.cardStyle:hover .priceRating {
  display: none;
}
.cardStyle:hover .text {
  display: none;
}


.productButton:hover ~ .disableHover {
  pointer-events: auto;
}
.Modal-header {
  margin-bottom: 0;
  padding-bottom: 0;
}

.Modal-body {
  margin-top: 0;
  padding-top: 0;
}