div[style*='pointerEvents: auto;']:hover a {
  display: block;
}
/* Example Media Query for Tablet View */
@media screen and (max-width: 768px) {
  /* Adjust styles here */
  /* For example, change flex direction to column for smaller screens */
  .container {
    flex-direction: column;
  }
  /* You can adjust the sizes of elements or remove side paddings/margins */
  .leftColumnStyle {
    flex: 100%; /* Take full width on smaller screens */
    /* Other adjustments as needed */
  }
  .rightColumnStyle {
    flex: 100%; /* Take full width on smaller screens */
    /* Other adjustments as needed */
  }
  /* Adjust individual card styles for smaller screens */
  .cardStyle {
    width: 100%; /* Take full width of the container */
    /* Other adjustments as needed */
  }
}
.discount-text {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 24px;
  color: #fff;
  padding: 20px;
  background-color: #3498db;
  border-radius: 8px;
  display: inline-block;
  animation: pulseAnimation 2s infinite;
}

.discount-percentage {
  font-weight: bold;
  color: #e74c3c;
}

@keyframes pulseAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}



